:root{
  --main-color:#1e1e1f;
  --intial-color:#c2c2c2;
  --hover-color:white;
}

.Link{
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
  &:hover{
    color: var(--hover-color);
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}